<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/flightsearch.css" />
    <link rel="stylesheet" href="../styles/flightsearchNavbar.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <title>Yatramitra</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-bar" id="header">
        </div>
        <div class="flight-navbar">
          <form id="searchForm">
            <div class="search-header">
              <div class="search-field">
                <label for="trip-type">Trip</label>
                <select id="trip-type">
                  <option>One Way</option>
                  <option>Round Trip</option>
                </select>
              </div>
              <div class="search-field">
                <label for="from">From</label>
                <input
                  type="text"
                  id="from"
                  placeholder=""
                  autocomplete="off"
                />
                <div id="suggestions" class="suggestions"></div>
              </div>
              <button class="swap-button">⇄</button>
              <div class="search-field">
                <label for="to">To</label>
                <input type="text" id="to" value="" />
                <div id="suggestions2" class="suggestions"></div>
              </div>
              <div class="search-field date-field">
                <label for="depart-date">Departure Date</label>
                <input type="date" id="depart-date" value="" />
              </div>
              <div class="search-field date-field">
                <label for="return-date">Return Date</label>
                <input type="text" id="return-date" placeholder="SELECT ROUND TRIP" disabled />
              </div>
              <div class="search-field adults-count" id="adults-count">
                <label for="passenger">Passengers</label>
                <input type="number" id="adults" value="1" min="1" max="10" />
              </div>
              <button class="modify-button" id="searchButton" type="submit">Modify Search</button>
            </div>
          </form>
        </div>
      </nav>
    </header>
    <div class="loader-wrapper" id = "loader-wrapper">
      <video id = "loader" autoplay loop muted>
        <source src="../assets/loader.webm" type="video/webm">
        </video>
    </div>
    <div class="flight" id="departure-body" >
      <div class="departure-flight-text">
        <h2><span>Select Departure Bus</span></h2>
      </div>
      <div id="departure-results">

      </div>
      <!---  sss-->
    </div>
    <div class="flight hidden"  id="arrival-body">
      <div class="arrival-flight-text">
        <h2><span>Select Return Bus</span></h2>
      </div>
      <div id="arrival-results">
        
      </div>
    </div>
    
    <!-- Button goBack onclick="goBack()" -->
    <!-- Select Arrival Flight -->
  </body>
  <footer class="footer" id="footer">
  </footer>
  <script src="../scripts/bussearch.js"></script>
    <script src="../scripts/navbar.js" defer></script>
</html>
