<!DOCTYPE html>

    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Page Title</title>
        <link rel="stylesheet" href="../styles/bussearch.css">
    </head><body>
        <div class="travel-card">
          <div class="header">
            <img src="primo-logo.png" alt="Primo-logo" class="logo">
            <h2> Raj kalpana Travels Pvt.Ltd </h2>
          </div>
          <div class="content">
            <div class ="travel-info">
              <div class="time-info">
                <span class="departure">21:45</span>
                <span class="duration"> 07h 45m</span>
                <span class="arrival"> 05:30</span>
              </div>
              <div class="rating">
                <span class="star">*</span>
                <span class="score">4.3</span>
              </div>
              <div class="price">
                <span> starts from</span>
                <span class="amount">INR 1199</span>
                </div>
                <div class="Seats">21 seats available </div>
              </div>
              <div class="seats"> 21 seats unavailable</div>
            </div>
            <div class="bus-info">
              <span> A/C sleeper (2+1)</span>
              <span class="date">19-Aug</span>
              <span class="passengers">342</span>
            </div>
              <div class="locations">
                <span class="departure">Raj kalpana travels honda show.. </span>
                <span class="Arrival">ISBT kashmiri Gate</span>
              </div>
              <div class="amaenities">
              </div>
              <button class="view seats"> VIEW SEATs</button>
            </div>
          </div>
                         
              </body>
              </html>