
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/contact.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

</head>
<body>
    <div class="nav-bar" id="header">
    </div>
    <div class="loader-wrapper" id = "loader-wrapper">
        <video id = "loader" autoplay loop muted>
          <source src="../assets/loader.webm" type="video/webm">
          </video>
      </div>
    <div class="contact">
    <div class="contact_us_green">
        <div class="contact-container">
            <form id="contact-form">
            <div class="contact-form">
                <div class="form-row">
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input type="text" id="first-name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input type="text" id="last-name" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" id="phone" placeholder="Phone Number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="query">What do you have in mind</label>
                    <textarea id="query" placeholder="Please enter query..."></textarea>
                </div>
                <button type="submit">Submit</button>
            </div>
        </form>
            <div class="contact-info">
                <h2>Contact us</h2>
                <p><i class="fas fa-phone-alt"></i>1 (234) 567-891</p>
                <p><i class="fas fa-envelope"></i>yatramitra8@gmail.com</p>
                <p><i class="fas fa-map-marker-alt"></i>ABV IIITM, Gwalior, 474015</p>
                <div class="social-media">
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer" id="footer">
</body>
<script src="../scripts/navbar.js" defer></script>
<script src="../scripts/contact.js"></script>
</html>
