
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-bar">
                <i class='bx bx-menu sidebarOpen'></i>
                <span class="logo navLogo"><a href="#">YatraMitra</a></span>
                <div class="menu">
                  
                    <ul class="nav-links">
                        <li><a href="#"><span>Home</span></a></li>
                        <li><a href="#"><span>About</span></a></li>
                        <li><a href="#"><span>Services</span></a></li>
                        <li><a href="#"><span>Contact</span></a></li>
                    </ul>
                </div>
                <div class="darkLight-searchBox">
                    <div class="dark-light">
                        <i class='bx bx-moon moon'></i>
                        <i class='bx bx-sun sun'></i>
                    </div>
                    <button class="loginButton" type="submit"><a>Login</a></button>
                </div>
            </div>
        </nav>
    </header>
    <div class="contact_us_green">
        <div class="contact-container">
            <div class="contact-form">
                <div class="form-row">
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input type="text" id="first-name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input type="text" id="last-name" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" id="phone" placeholder="Phone Number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="query">What do you have in mind</label>
                    <textarea id="query" placeholder="Please enter query..."></textarea>
                </div>
                <button type="submit">Submit</button>
            </div>
            <div class="contact-info">
                <h2>Contact us</h2>
                <p><i class="fas fa-phone-alt"></i>1 (234) 567-891</p>
                <p><i class="fas fa-envelope"></i>yatramitra8@gmail.com</p>
                <p><i class="fas fa-map-marker-alt"></i>ABV IIITM, Gwalior, 474015</p>
                <div class="social-media">
                    <i class="fab fa-google"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
