<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/flightsearch.css">
    <link rel="stylesheet" href="../styles/flightsearchNavbar.css">
    <title>Yatramitra</title>
    
</head>
<body>
  
    <nav>
        <form>
            <div class="search-header">
                <div class="search-field">
                    <label for="trip-type">Trip</label>
                    <select id="trip-type">
                        <option>Round Trip</option>
                        <option>One Way</option>
                    </select>
                </div>
                <div class="search-field">
                    <label for="from">From</label>
                    <input type="text" id="from" value="Bhopal(BHO)" />
                </div>
                <button class="swap-button">⇄</button>
                <div class="search-field">
                    <label for="to">To</label>
                    <input type="text" id="to" value="Delhi(DEL)" />
                </div>
                <div class="search-field date-field">
                    <label for="depart-date">Departure Date</label>
                    <input type="date" id="depart-date" value="" />
                </div>
                <div class="search-field date-field">
                    <label for="return-date">Return Date</label>
                    <input type="date" id="return-date" value="" />
                </div>
                
                
                <button class ="modify-button" type="submit">Modify Search</button>
        </form>
        
        </nav>
    
    
    
    
    
    
    
    
    <div class="flight">
        <div class="flight-type">Departing Flight</div>
        <h2><div class="boarding">Bhopal</div>
        <div class="destination">Delhi</div> 
        


    </h2></div>
    <div class="main-content">
        
        <div class="flight-info">
            <div class="flight-details">
                <div class="flight-time">
                        <div class="flight-boarding">9:15</div>
                        <div class="flight-duration"><----01H 25M----></div> 
                        <div class="flight-arrival">10:40</div>     
                </div>
                <div>
                    <div class="flight-number">6E 2215</div>
                </div>
            </div>
            <div class="flight-type">Non-stop</div>
            <div>
                <span class="sale-fare">SALE FARE</span>
                <span class="flight-price">₹3,529</span>
            </div>
        </div>
        <!-- Repeat the flight-info div for other flights -->
    </div>

    
</body>
</html>