<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yatramitra - Your Travel Comrade</title>
    <link rel="stylesheet" href="../styles/homepage.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header id="header">
    </header>
    <main>
        <div class="hero-section">
            <div class="hero-title"><h1>Welcome to Yatramitra</h1></div>
            <div class="hero-text"><p>Your travel companion</p></div>
        </div>
        <div class="search-part">
            <div class="form-selection-buttons">
                <button class="transport-button"  id="flight-button">Flight</button>
                <button class="transport-button"  id="train-button">Train</button>
                <button class="transport-button"  id="bus-button">Bus</button>
            </div>
            <div class="form-container">
                <div class="form-outer">
                <div class="form" id="flight-form">
                    <div class="form-top">
                        <div>
                            <label for="flight-round-trip">One Way</label>
                            <input type="radio" name="flight-trip" id="flight-one-way-trip" checked>
                        </div>
                        <div>
                            <label for="flight-round-trip">Round Trip</label>
                            <input type="radio" name="flight-trip" id="flight-round-trip">
                        </div>
                    </div>
                    <div class="booking-form">
                        <div class="form-section">
                            <label for="flight-from">Departure</label>
                            <div class="input-container">
                                <input type="text" id="flight-from" name="from" placeholder="Departure Airport">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-to">Arrival</label>
                            <div class="input-container">
                                <input type="text" id="flight-to" name="to" placeholder="Arrival Airport">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-departure-date">Departure Date</label>
                            <div class="input-container">
                                <input type="date" id="flight-departure-date" name="departure-date">
                            </div>
                        </div>
                        <div class="form-section" id="flight-arrival-div">
                            <label for="flight-arrival-date">Arrival Date</label>
                            <div class="input-container">
                                <input type="text" name="arrival-date" id="flight-arrival-date" value="SELECT ROUND TRIP" disabled>
                            </div>
                        </div>
                        <button type="submit" id="flight-buttonSubmit">Search Journey</button>
                    </div>
                </div>
                <div class="form hidden" id="train-form" >
                    <div class="booking-form">
                        <div class="form-section">
                            <label for="flight-from">Departure</label>
                            <div class="input-container">
                                <input type="text" id="train-from" name="from" placeholder="Departure Station">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-to">Arrival</label>
                            <div class="input-container">
                                <input type="text" id="train-to" name="to" placeholder="Arrival Station">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-departure-date">Departure Date</label>
                            <div class="input-container">
                                <input type="date" id="train-departure-date" name="departure-date">
                            </div>
                        </div>
                        <div class="form-section" id="flight-arrival-div">
                            <label for="class-selection">Class Selection</label>
                            <div class="input-container">
                                <select name="class-selection" id="class-selection">
                                    <option value="1AC">1AC</option>
                                    <option value="2AC">2AC</option>
                                    <option value="3AC">3AC</option>
                                    <option value="sleeper">SLEEPER</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" id="train-buttonSubmit">Search Journey</button>
                    </div>
                </div>
                <div class="form hidden" id="bus-form" >
                    <div class="form-top">
                        <div>
                            <label for="flight-one-way-trip">One Way</label>
                            <input type="radio" name="flight-trip" id="bus-one-way-trip" checked>
                        </div>
                        <div>
                            <label for="flight-round-trip">Round Trip</label>
                            <input type="radio" name="flight-trip" id="bus-round-trip">
                        </div>
                    </div>
                    <div class="booking-form">
                        <div class="form-section">
                            <label for="flight-from">Departure</label>
                            <div class="input-container">
                                <input type="text" id="bus-from" name="from" placeholder="Departure City">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-to">Arrival</label>
                            <div class="input-container">
                                <input type="text" id="bus-to" name="to" placeholder="Arrival City">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-departure-date">Departure Date</label>
                            <div class="input-container">
                                <input type="date" id="bus-departure-date" name="departure-date">
                            </div>
                        </div>
                        <div class="form-section" id="flight-arrival-div">
                            <label for="flight-arrival-date">Arrival Date</label>
                            <div class="input-container">
                                <input type="text" name="arrival-date" id="bus-arrival-date" value="SELECT ROUND TRIP" disabled>
                            </div>
                        </div>
                        <button type="submit" id="bus-buttonSubmit">Search Journey</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="./about.html">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">terms of service</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="./contact.html">contact us</a></li>
                            <li><a href="#">cancellations & refunds</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    &copy; 2024 YatraMitra. All rights reserved.
                </div>
            </div>
        </footer>
        
    </main>
    <script src="../scripts/homepage.js"></script>
    <script src="../scripts/navbar.js"></script>
</body>
</html>
