<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yatramitra - Your Travel Comrade</title>
    <link rel="stylesheet" href="../styles/homepage.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header>
        <nav>
            <div class="nav-bar">
                <i class='bx bx-menu sidebarOpen'></i>
                <span class="logo navLogo"><a href="#">Yatramitra</a></span>
                <div class="menu">
                    <div class="logo-toggle">
                        <span class="logo"><a href="#">Yatramitra</a></span>
                        <i class='bx bx-x siderbarClose'></i>
                    </div>
                    <ul class="nav-links">
                        <li><a href="#"><span>Home</span></a></li>
                        <li><a href="#"><span>About</span></a></li>
                        <li><a href="#"><span>Services</span></a></li>
                        <li><a href="#"><span>Contact</span></a></li>
                    </ul>
                </div>
                <div class="darkLight-searchBox">
                    <div class="dark-light">
                        <i class='bx bx-moon moon'></i>
                        <i class='bx bx-sun sun'></i>
                    </div>
                    <button class="loginButton" type="submit"><a>Login</a></button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="hero-section">
            <div class="hero-title"><h1>Welcome to Yatramitra</h1></div>
            <div class="hero-text"><p>Your travel companion</p></div>
        </div>
        <div class="search-part">
            <div class="form-selection-buttons">
                <button class="button-79" role="button" id="flight-button">Flight</button>
                <button class="button-79" role="button" id="train-button">Train</button>
                <button class="button-79" role="button" id="bus-button">Bus</button>
            </div>
            <div class="form-container">
                <div class="form-outer">
                <div class="form" id="flight-form">
                    <div class="form-top">
                        <div>
                            <label for="flight-round-trip">One Way</label>
                            <input type="radio" name="flight-trip" id="flight-one-way-trip" checked>
                        </div>
                        <div>
                            <label for="flight-round-trip">Round Trip</label>
                            <input type="radio" name="flight-trip" id="flight-round-trip">
                        </div>
                    </div>
                    <div class="booking-form">
                        <div class="form-section">
                            <label for="flight-from">Departure</label>
                            <div class="input-container">
                                <input type="text" id="flight-from" name="from" placeholder="Departure Airport">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-to">Arrival</label>
                            <div class="input-container">
                                <input type="text" id="flight-to" name="to" placeholder="Arrival Airport">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-departure-date">Departure Date</label>
                            <div class="input-container">
                                <input type="date" id="flight-departure-date" name="departure-date">
                            </div>
                        </div>
                        <div class="form-section" id="flight-arrival-div">
                            <label for="flight-arrival-date">Arrival Date</label>
                            <div class="input-container">
                                <input type="text" name="arrival-date" id="flight-arrival-date" value="SELECT ROUND TRIP" disabled>
                            </div>
                        </div>
                        <button type="submit" id="flight-buttonSubmit">Search Journey</button>
                    </div>
                </div>
                <div class="form hidden" id="train-form" >
                    <div class="booking-form">
                        <div class="form-section">
                            <label for="flight-from">Departure</label>
                            <div class="input-container">
                                <input type="text" id="train-from" name="from" placeholder="Departure Station">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-to">Arrival</label>
                            <div class="input-container">
                                <input type="text" id="train-to" name="to" placeholder="Arrival Station">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-departure-date">Departure Date</label>
                            <div class="input-container">
                                <input type="date" id="train-departure-date" name="departure-date">
                            </div>
                        </div>
                        <div class="form-section" id="flight-arrival-div">
                            <label for="class-selection">Class Selection</label>
                            <div class="input-container">
                                <select name="class-selection" id="class-selection">
                                    <option value="1AC">1AC</option>
                                    <option value="2AC">2AC</option>
                                    <option value="3AC">3AC</option>
                                    <option value="sleeper">SLEEPER</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" id="train-buttonSubmit">Search Journey</button>
                    </div>
                </div>
                <div class="form hidden" id="bus-form" >
                    <div class="form-top">
                        <div>
                            <label for="flight-one-way-trip">One Way</label>
                            <input type="radio" name="flight-trip" id="bus-one-way-trip" checked>
                        </div>
                        <div>
                            <label for="flight-round-trip">Round Trip</label>
                            <input type="radio" name="flight-trip" id="bus-round-trip">
                        </div>
                    </div>
                    <div class="booking-form">
                        <div class="form-section">
                            <label for="flight-from">Departure</label>
                            <div class="input-container">
                                <input type="text" id="bus-from" name="from" placeholder="Departure City">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-to">Arrival</label>
                            <div class="input-container">
                                <input type="text" id="bus-to" name="to" placeholder="Arrival City">
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-departure-date">Departure Date</label>
                            <div class="input-container">
                                <input type="date" id="bus-departure-date" name="departure-date">
                            </div>
                        </div>
                        <div class="form-section" id="flight-arrival-div">
                            <label for="flight-arrival-date">Arrival Date</label>
                            <div class="input-container">
                                <input type="text" name="arrival-date" id="bus-arrival-date" value="SELECT ROUND TRIP" disabled>
                            </div>
                        </div>
                        <button type="submit" id="bus-buttonSubmit">Search Journey</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </main>
    <script src="../scripts/homepage.js"></script>
    <script src="../scripts/navbar.js"></script>
</body>
</html>
