<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yatramitra - Your Travel Comrade</title>
    <link rel="stylesheet" href="../styles/homepage.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script defer>
        window.addEventListener('load', function() {
            const video = document.getElementById('myVideo');
            video.src = "../assets/title-video.mp4";
        });
    </script>

</head>
<body>
    <header id="header">
    </header>
    
    <main>
        
        <section class="hero-section">
        <div class="overlay"></div>
        <video id ="myVideo" autoplay loop muted plays-inline>
        </video>
        <div class="hero-content">
            <h1 class="hero-title">Welcome to Yatramitra</h1>
            <p class="hero-text">Your travel companion</p>
        </div>
    </section>

    <section>

      
        <div class="search-part">
            <div class="form-selection-buttons">
                <button class="transport-button selected"  id="flight-button">Flight</button>
                <button class="transport-button"  id="train-button">Train</button>
                <button class="transport-button"  id="bus-button">Bus</button>
            </div>
            <div class="form-container">
                <div class="form-outer">
                <div class="form" id="flight-form">
                    <div class="form-top">
                        <div class="trip-type-select">
                            <label for="flight-round-trip">One Way</label>
                            <input type="radio" name="flight-trip" id="flight-one-way-trip" checked>
                        </div>
                        <div class="trip-type-select">
                            <label for="flight-round-trip">Round Trip</label>
                            <input type="radio" name="flight-trip" id="flight-round-trip">
                        </div>
                    </div>
                    <div class="booking-form">
                        <div class="form-section">
                            <label for="flight-from">Departure</label>
                            <div class="input-container">
                                <input type="text" id="flight-from" name="from" placeholder="Departure Airport" autocomplete="off">
                                <div id="suggestions-flight-1" class="suggestions"></div>
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-to">Arrival</label>
                            <div class="input-container">
                                <input type="text" id="flight-to" name="to" placeholder="Arrival Airport">
                                <div id="suggestions-flight-2" class="suggestions"></div>
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-departure-date">Departure Date</label>
                            <div class="input-container">
                                <input type="date" id="flight-departure-date" name="departure-date">
                            </div>
                        </div>
                        <div class="form-section" id="flight-arrival-div">
                            <label for="flight-arrival-date">Arrival Date</label>
                            <div class="input-container">
                                <input type="text" name="arrival-date" id="flight-arrival-date" value="SELECT ROUND TRIP" disabled>
                            </div>
                        </div>
                        <button type="submit" id="flight-buttonSubmit">Search Journey</button>
                    </div>
                </div>
                <div class="form" id="train-form">
                    <div class="form-top">
                        <div class="trip-type-select">
                            <label for="flight-round-trip">One Way</label>
                            <input type="radio" name="flight-trip" id="flight-one-way-trip" checked disabled>
                        </div>
                        <div class="trip-type-select">
                            <label for="flight-round-trip">Round Trip</label>
                            <input type="radio" name="flight-trip" id="flight-round-trip" disabled>
                        </div>
                    </div>
                    <div class="booking-form">
                        <div class="form-section">
                            <label for="flight-from">Departure</label>
                            <div class="input-container">
                                <input type="text" id="train-from" name="from" placeholder="Departure Station">
                                <div id="suggestions-train-1" class="suggestions"></div>
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-to">Arrival</label>
                            <div class="input-container">
                                <input type="text" id="train-to" name="to" placeholder="Arrival Station">
                                <div id="suggestions-train-2" class="suggestions"></div>
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-departure-date">Departure Date</label>
                            <div class="input-container">
                                <input type="date" id="train-departure-date" name="departure-date">
                            </div>
                        </div>
                        <div class="form-section" id="flight-arrival-div">
                            <label for="flight-arrival-date">Arrival Date</label>
                            <div class="input-container">
                                <input type="text" name="arrival-date" id="train-arrival-date" value="NOT AVAILABLE" disabled>
                            </div>
                        </div>
                        <button type="submit" id="train-buttonSubmit">Search Journey</button>
                    </div>
                </div>
                <div class="form" id="bus-form">
                    <div class="form-top">
                        <div class="trip-type-select">
                            <label for="bus-round-trip">One Way</label>
                            <input type="radio" name="bus-trip" id="bus-one-way-trip" checked>
                        </div>
                        <div class="trip-type-select">
                            <label for="bus-round-trip">Round Trip</label>
                            <input type="radio" name="bus-trip" id="bus-round-trip">
                        </div>
                    </div>
                    <div class="booking-form">
                        <div class="form-section">
                            <label for="flight-from">Departure</label>
                            <div class="input-container">
                                <input type="text" id="bus-from" name="from" placeholder="Departure City">
                                <div id="suggestions-bus-1" class="suggestions"></div>
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-to">Arrival</label>
                            <div class="input-container">
                                <input type="text" id="bus-to" name="to" placeholder="Arrival City">
                                <div id="suggestions-bus-2" class="suggestions"></div>
                            </div>
                        </div>
                        <div class="form-section">
                            <label for="flight-departure-date">Departure Date</label>
                            <div class="input-container">
                                <input type="date" id="bus-departure-date" name="departure-date">
                            </div>
                        </div>
                        <div class="form-section" id="flight-arrival-div">
                            <label for="flight-arrival-date">Arrival Date</label>
                            <div class="input-container">
                                <input type="text" name="arrival-date" id="bus-arrival-date" value="SELECT ROUND TRIP" disabled>
                            </div>
                        </div>
                        <button type="submit" id="bus-buttonSubmit">Search Journey</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
        <section id="ads-section">
            <div class="packages-intro">
                <h2 class="section-heading">Get Exclusive Travel Deals!!!</h2>
                <p class="section-description">Discover unbeatable travel offers and discounts.<br> Book your next adventure now and enjoy special benefits from our trusted partners.

                </p>
            </div>
            <div class="carousel-container" id="flight-carousel">
                <div class="carousel">
                    <div class="ad-item active">
                        <img src="../assets/flightad1.png" alt="Flight Ad 1">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/flightad2.png" alt="Flight Ad 2">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/flightad3.png" alt="Flight Ad 3">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/flightad4.png" alt="Flight Ad 4">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/flightad5.png" alt="Flight Ad 5">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/flightad6.png" alt="Flight Ad 6">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/flightad8.png" alt="Flight Ad 7">
                    </div>
                </div>
                <button class="carousel-control prev" id="flightPrevBtn">&#10094;</button>
                <button class="carousel-control next" id="flightNextBtn">&#10095;</button>
            </div>
            <div class="carousel-container hidden" id="train-carousel">
                <div class="carousel">
                    <div class="ad-item active">
                        <img src="../assets/trainad1.png" alt="Train Ad 1">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/trainad2.png" alt="Train Ad 2">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/trainad3.png" alt="train Ad 3">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/trainad4.png" alt="train Ad 4">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/trainad5.png" alt="train Ad 5">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/trainad6.png" alt="train Ad 6">
                    </div>
                </div>
                <button class="carousel-control prev" id="trainPrevBtn">&#10094;</button>
                <button class="carousel-control next" id="trainNextBtn">&#10095;</button>
            </div>
            <div class="carousel-container hidden" id="bus-carousel">
                <div class="carousel">
                    <div class="ad-item active">
                        <img src="../assets/trainad1.png" alt="Train Ad 1">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/trainad2.png" alt="Train Ad 2">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/trainad3.png" alt="train Ad 3">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/trainad4.png" alt="train Ad 4">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/trainad5.png" alt="train Ad 5">
                    </div>
                    <div class="ad-item">
                        <img src="../assets/trainad6.png" alt="train Ad 6">
                    </div>
                </div>
                <button class="carousel-control prev" id="busPrevBtn">&#10094;</button>
                <button class="carousel-control next" id="busNextBtn">&#10095;</button>
            </div>
        </section>
        <section id="travel-packages">
            <div class="packages-intro">
                <h2 class="section-heading">Explore Our Travel Packages</h2>
                <p class="section-description">Discover our curated travel packages designed to provide you with unforgettable experiences. Whether you're seeking adventure, relaxation, or cultural immersion, we have something for everyone.</p>
            </div>
            <div class="packages-container">
                <!-- Package 1 -->
                <div class="package-card">
                    <div class="package-image" style="background-image: url('../assets/pkg1.png');" loading="lazy"></div>
                    <div class="package-details">
                        <h3 class="package-title">Exploring the Golden Triangle</h3>
                        <p class="package-summary">Experience the rich culture and history of India's iconic Golden Triangle: Delhi, Agra, and Jaipur.</p>
                        <div class="package-info">
                            <span class="package-price">₹30,000</span>
                            <span class="package-duration">7 Days</span>
                        </div>
                    </div>
                </div>
                <!-- Package 2 -->
                <div class="package-card">
                    <div class="package-image" style="background-image: url('https://s3.india.com/travel/wp-content/uploads/2016/05/Goa-sunset-main.jpg');" loading="lazy"></div>
                    <div class="package-details">
                        <h3 class="package-title">Goa Beach Extravaganza</h3>
                        <p class="package-summary">Enjoy the sun, sand, and sea with our luxurious beach vacation package in Goa.</p>
                        <div class="package-info">
                            <span class="package-price">₹25,000</span>
                            <span class="package-duration">5 Days</span>
                        </div>
                    </div>
                </div>
                <!-- Package 3 -->
                <div class="package-card">
                    <div class="package-image" style="background-image: url('../assets/pkg3.png');" loading="lazy"></div>
                    <div class="package-details">
                        <h3 class="package-title">Kerala Backwaters Retreat</h3>
                        <p class="package-summary">Relax and rejuvenate with a serene backwater cruise through Kerala's picturesque landscapes.</p>
                        <div class="package-info">
                            <span class="package-price">₹40,000</span>
                            <span class="package-duration">6 Days</span>
                        </div>
                    </div>
                </div>
                <!-- Package 4 -->
                <div class="package-card">
                    <div class="package-image" style="background-image: url('https://cdn.britannica.com/74/114874-050-6E04C88C/North-Face-Mount-Everest-Tibet-Autonomous-Region.jpg');" loading="lazy"></div>
                    <div class="package-details">
                        <h3 class="package-title">Himalayan Adventure</h3>
                        <p class="package-summary">Embark on an exhilarating adventure through the majestic Himalayan mountains.</p>
                        <div class="package-info">
                            <span class="package-price">₹50,000</span>
                            <span class="package-duration">10 Days</span>
                        </div>
                    </div>
                </div>
                <!-- Package 5 -->
                <div class="package-card">
                    <div class="package-image" style="background-image: url('https://superbmytrip.com/Content/Holiday/GallaryImage/1542ce8c-5d03-48b6-aecb-c3fae1ad606c.jpg');" loading="lazy"></div>
                    <div class="package-details">
                        <h3 class="package-title">Rajasthan Royalty</h3>
                        <p class="package-summary">Discover the royal heritage of Rajasthan with visits to majestic forts and palaces.</p>
                        <div class="package-info">
                            <span class="package-price">₹35,000</span>
                            <span class="package-duration">8 Days</span>
                        </div>
                    </div>
                </div>
                <!-- Package 6 -->
                <div class="package-card">
                    <div class="package-image" style="background-image: url('https://www.avemariyatravel.com/admin/include/upload/packages/64f8520a5e008SHORT%20ESCAPE.webp');" loading="lazy"></div>
                    <div class="package-details">
                        <h3 class="package-title">Andaman Island Escape</h3>
                        <p class="package-summary">Explore the pristine beaches and crystal-clear waters of the Andaman Islands.</p>
                        <div class="package-info">
                            <span class="package-price">₹45,000</span>
                            <span class="package-duration">7 Days</span>
                        </div>
                    </div>
                </div>
                <!-- Package 7 -->
                <div class="package-card">
                    <div class="package-image" style="background-image: url('https://www.karnatakatourism.org/wp-content/uploads/2020/05/Mysore-Coorg-Tour-Package.jpg');" loading="lazy"></div>
                    <div class="package-details">
                        <h3 class="package-title">Mysore and Coorg Getaway</h3>
                        <p class="package-summary">Enjoy a refreshing trip to Mysore and Coorg with scenic landscapes and heritage sites.</p>
                        <div class="package-info">
                            <span class="package-price">₹28,000</span>
                            <span class="package-duration">6 Days</span>
                        </div>
                    </div>
                </div>
                <!-- Package 8 -->
                <div class="package-card">
                    <div class="package-image" style="background-image: url('../assets/pkg4.jpg');" loading="lazy"></div>
                    <div class="package-details">
                        <h3 class="package-title">Mumbai City Tour</h3>
                        <p class="package-summary">Explore the vibrant city of Mumbai, its landmarks, and cultural hotspots.</p>
                        <div class="package-info">
                            <span class="package-price">₹20,000</span>
                            <span class="package-duration">4 Days</span>
                        </div>
                    </div>
                </div>
                <!-- Package 9 -->
                <div class="package-card">
                    <div class="package-image" style="background-image: url('https://sundayguardianlive.com/wp-content/uploads/2019/02/P5.jpg');" loading="lazy"></div>
                    <div class="package-details">
                        <h3 class="package-title">Ganges Spiritual Journey</h3>
                        <p class="package-summary">Immerse yourself in the spiritual beauty and tranquility of the Ganges River.</p>
                        <div class="package-info">
                            <span class="package-price">₹32,000</span>
                            <span class="package-duration">6 Days</span>
                        </div>
                    </div>
                </div>
                <!-- Package 10 -->
                <div class="package-card">
                    <div class="package-image" style="background-image: url('https://www.freetour.com/images/tours/4270/private-3day-jaipur-heritage-tour-01.jpg');" loading="lazy"></div>
                    <div class="package-details">
                        <h3 class="package-title">Jaipur Heritage Walk</h3>
                        <p class="package-summary">Discover the rich heritage and vibrant culture of Jaipur through a guided walking tour.</p>
                        <div class="package-info">
                            <span class="package-price">₹22,000</span>
                            <span class="package-duration">5 Days</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="gp-global-presence">
                <div class="packages-intro">
                    <h2 class="section-heading">Our Global Prescence</h2>
                    <p class="section-description">We are proud to serve travelers from all around the world.<br> Our platform connects you with destinations in countries below, ensuring you can explore with ease. No matter where you are, we’re here to help you find the best travel options.</p>
                </div>
                <div class="gp-carousel">
                    <div class="gp-carousel-item">
                        <img src="https://flagcdn.com/w320/us.png" alt="USA Flag">
                        <p>United States</p>
                    </div>
                    <div class="gp-carousel-item">
                        <img src="https://flagcdn.com/w320/gb.png" alt="UK Flag">
                        <p>United Kingdom</p>
                    </div>
                    <div class="gp-carousel-item">
                        <img src="https://flagcdn.com/w320/in.png" alt="India Flag">
                        <p>India</p>
                    </div>
                    <div class="gp-carousel-item">
                        <img src="https://flagcdn.com/w320/fr.png" alt="France Flag">
                        <p>France</p>
                    </div>
                    <div class="gp-carousel-item">
                        <img src="https://flagcdn.com/w320/de.png" alt="Germany Flag">
                        <p>Germany</p>
                    </div>
                    <div class="gp-carousel-item">
                        <img src="https://flagcdn.com/w320/au.png" alt="Australia Flag">
                        <p>Australia</p>
                    </div>
                    <div class="gp-carousel-item">
                        <img src="https://flagcdn.com/w320/ae.png" alt="UAE Flag">
                        <p>United Arab Emirates</p>
                    </div>
                    <div class="gp-carousel-item">
                        <img src="https://flagcdn.com/w320/sg.png" alt="Singapore Flag">
                        <p>Singapore</p>
                    </div>
                    
                    <!-- Add more flags as needed -->
                </div>
            </div>
            
            
        </section>
        <section id="app-image">
           
            <div class="carousel-container app-container">
                <div class="packages-intro">
                    <h2 class="section-heading">Download our App</h2>
                    <p class="section-description">Plan your trips, book tickets, and explore the world with just a tap.
                        <br>Available on the App Store and Google Play.</p>
                </div>
                <div class="ad-item active app-img">
                    <img src="../assets/AppLogo.png" loading="lazy">
                </div>
            </div>
            
        </section>
        
        
   
   
   
   
    </section>     
        <footer class="footer" id="footer">
        </footer>
        
    </main>
    <script src="../scripts/homepage.js"></script>
    <script src="../scripts/navbar.js" defer></script>
</body>
</html>
