<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yatramitra</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="container">

        <div class="register-form">
            
            <h1>Register</h1>
        
            <form action="">
            <input type="text" name="firstName" id="" placeholder="Enter your First Name">
            <input type="text" name="lastName" id="" placeholder="Enter your Last Name">
            
            <input type="email" name="email" id="User_email"  placeholder="Enter your email" required>
            <input type="password" name="User_password" id="" placeholder="Enter your password" required>
            <button type="submit">Signin</button>
        </form>

        <div class="forgotPassword">
            <a href = "#">Forgot Password?</a>
        </div>

        <div class="signup">
            <p>Don't have an account? <a href = "#">Register</a></p>
        </div>

        </div>

        






    </div>
    
</body>
</html>