<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../styles/forgot.css">
</head>
<body>
    <div class="loader-wrapper hidden" id = "loader-wrapper">
        <video id = "loader" autoplay loop muted>
          <source src="../assets/loader.webm" type="video/webm">
          </video>
      </div>
    <div class="forgot-password-container">
        <h2>Forgot Your Password?</h2>
        <form id="reset-password-form">
            <input type="password" id="pass" placeholder="Enter your Password" required>
            <input type="password" id="confirmPass" placeholder="Re Enter your Password" required>
            <button type="submit">Reset</button>
        </form>
        <p id="response-message"></p>
    </div>
    <script src="../scripts/reset.js"></script>
</body>
</html>
