<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yatramitra Services</title>
    <link rel="stylesheet" href="../styles/services.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

</head>
<body>
    <div class="nav-bar" id="header">
    </div>
    

    <section class="services">
        <div class="service">
           <div><h2>Flight Booking</h2></div> 
            <div><p>Book flights at the best prices. We offer a wide range of options for domestic and international travel.</p></div>
            <div><img src="../assets/trainImg.png" alt="" srcset=""></div>
            <div><button>Book Now</button></div>
        </div>

        <div class="service">
            <h2>Train Booking</h2>
            <p>Find and book train tickets for a seamless travel experience across the country.</p>
            <button>Book Now</button>
        </div>

        <div class="service">
            <h2>Bus Booking</h2>
            <p>Book bus tickets with ease. Choose from a variety of bus services for your preferred route.</p>
            <button>Book Now</button>
        </div>
    </section>

    
    <script src="../scripts/navbar.js"></script>
</body>
</html>
