<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link rel="stylesheet" href="../styles/payment.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

</head>
<body>
    <div class="nav-bar" id="header">
    </div>
    <div class="container">
        <div class="message-box _success">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <h2>Your payment was successful</h2>
            <p>Thank you for your payment. We will be in contact with more details shortly.</p> 
        </div> 
    </div>
</body>
<script>
    setTimeout(() => {
        window.location.href = './homepage.html';
    }, 5000);
</script>
</html>
