<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked Tickets</title>
    <link rel="stylesheet" href="../styles/viewtickets.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
<body>
    <header id="header"></header>
    <div class="loader-wrapper" id = "loader-wrapper">
        <video id = "loader" autoplay loop muted>
          <source src="../assets/loader.webm" type="video/webm">
          </video>
      </div>
    <div class="ticket-container2">
    <div class="form-selection-buttons-wrapper">
        <div class="form-selection-buttons">
            <!-- Your buttons go here -->
            <button class="transport-button flight-button clicked">Flight</button>
            <button class="transport-button train-button">Train</button>
            <button class="transport-button bus-button">Bus</button>
        </div>
    </div>
    <h2>Your Booked Tickets</h2>
    <div class="ticket-container">
        <div id="flight-tickets" class="active">
    
    
        </div>
        <div id="train-tickets"></div>
        <div id="bus-tickets"></div>
        
        <!-- Railway Ticket -->
        <!-- <div class="train ticket-card">
            <div class="ticket-info">
                <span class="train-number">12301</span>
                <span class="train-name">Rajdhani Express</span>
                <span class="route">CSTM-NDLS</span>
                <span class="timing">1:10 AM - 1:05 PM</span>
                <span class="duration">35 hr 55 min</span>
            </div>
            <div class="ticket-price">
                <span class="price">₹ 2500</span>
                <button class="view-button">View Details</button>
            </div>
        </div>

         Bus Ticket 
        <div class="bus ticket-card">
            <div class="ticket-info">
                <span class="bus-number">MH12XY3456</span>
                <span class="bus-name">Shivneri Express</span>
                <span class="route">Mumbai-Pune</span>
                <span class="timing">5:00 PM - 8:00 PM</span>
                <span class="duration">3 hr 0 min</span>
            </div>
            <div class="ticket-price">
                <span class="price">₹ 450</span>
                <button class="view-button">View Details</button>
            </div>
        </div> -->

        <!-- Flight Ticket -->
        
        
    </div>
</div>
    <footer class="footer" id="footer"></footer>
</body>
<script src="../scripts/viewtickets.js"></script>
<script src="../scripts/navbar.js" defer></script>
</html>
