<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Booking</title>
    <link rel="stylesheet" href="../styles/ht.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
<body>
    <div class="nav-bar" id="header">
    </div>
    <div class="container">
        <header>
            <h1>Train</h1>
        </header>
        <main>
            <div class="form-section">
                <h2>Enter passenger details</h2>
                <form id="passenger-form">
                    <div class="form-group" id="passenger-details">
                    </div>
                    <div class="form-group">
                        <button type="submit" id="submit-button">Next</button>
                    </div>
                </form>
            </div>
            <aside class="trip-summary" id = "trip-summary">
            </aside>
        </main>
    </div>
    <footer class="footer" id="footer"></footer>
    <script src="../scripts/train.js"></script>
    <script src="../scripts/navbar.js" defer></script>
</body>
</html>
