/* DatePickerStyles.css */

/* Customize the input field */
.react-datepicker__input-container input {
    border: 1px solid #ddd; /* Border color */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Padding inside the input */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
    background-color: #fff; /* Background color */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    transition: border-color 0.3s ease; /* Smooth transition for border color on focus */
  }
  
  /* Change border color on focus */
  .react-datepicker__input-container input:focus {
    border-color: #3f51b5; /* Border color on focus */
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2); /* Box shadow on focus */
  }
  
  /* Style for placeholder text */
  .react-datepicker__input-container input::placeholder {
    color: #aaa; /* Placeholder text color */
    font-size: 16px; /* Placeholder text font size */
  }
  .react-datepicker__input-container :disabled {
    background-color: #f9f9f9;
    color: #aaa;
  }
  @media (max-width: 600px) {
    .react-datepicker__input-container input {
      font-size: 14px; /* Slightly smaller font size on smaller screens */
      padding: 8px; /* Adjust padding for smaller screens */
    }
  }