@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.about-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top:60px;
}

.content .image img {
    max-width: 70%;
    height: 50%;
    border-radius: 20px;
}

.content .text {
    max-width: 600px;
}

.content .text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.content .text h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content .text p {
    font-size: 16px;
    margin-bottom: 10px;
}

.content .text p a {
    color: #0073e6;
    text-decoration: none;
}

.contact-btn {
    display: inline-block;
    background-color: #3a3a3a;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-btn:hover {
    background-color: #333;
    transform: translateY(-2px);
}

.contact-btn:active {
    background-color: #2b2b2b;
    transform: translateY(0);
}

.info-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
}

.info-box {
    background-color: #3a3a3a;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 30%;
    text-align: center;
    margin: 10px;
}

.info-box i {
    font-size: 36px;
    margin-bottom: 10px;
}

.info-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 14px;
}
.team-cards {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    flex-wrap: wrap;
}
.card {
    background-color: var(--card-bg-color);
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--card-text-color);
}

.card p {
    font-size: 16px;
    color: var(--secondary-color);
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.socials a {
    margin: 0 10px;
    color: var(--nav-color);
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.socials a:hover {
    color: var(--primary-color);
}   