@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* Translucent white background */
    z-index: 9999;
}

#loader {
    width: 100px;
    height: 100px;
}
.hidden {
    display: none !important;
}
.contact{
    font-family: Nunito, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.contact_us_green * {
    font-family: Nunito, sans-serif;
}

.contact_us_green .contact-container {
    margin-top:10vh;
    display: flex;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 120%;
    max-width: 1600px; /* Increased the max-width */
    height: auto; /* Adjusted height to auto */
}

.contact_us_green .contact-form {
    padding: 40px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_us_green .contact-info {
    padding: 40px;
    background: #f7f7f7;
    border-left: 1px solid #ddd;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact_us_green .contact-info h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact_us_green .contact-info p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: #939393;
    font-size: 18px;
}

.contact_us_green .contact-info i {
    margin-right: 10px;
}

.contact_us_green .social-media {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}

.contact_us_green .social-media i {
    font-size: 35px;
    cursor: pointer;
}

.contact_us_green .social-media i:hover {
    color: #3b4b3b;
}

.contact_us_green .form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact_us_green .form-group {
    margin-bottom: 30px;
    flex: 1;
}

.contact_us_green .form-group label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 15px;
}

.contact_us_green .form-group input,
.contact_us_green .form-group textarea {
    width: 100%;
    padding: 15px;
    border: 2.5px solid #a2a2a2;
    border-radius: 5px;
    font-size: 16px;
}

.contact_us_green .form-group textarea {
    resize: vertical;
    height: 200px;
    padding-top: 20px;
}

.contact_us_green button {
    display: block;
    width: 100%;
    min-width: 290px;
    height: 60px;
    background-color: #1c3b28;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

.contact_us_green button:hover {
    background-color: #2d3d2d;
}

@media (max-width: 1024px) {
    .contact_us_green .contact-info h2 {
        font-size: 30px;
    }

    .contact_us_green .contact-info p {
        max-width: 90%;
    }

    .contact_us_green .social-media {
        justify-content: center;
    }

    .contact_us_green .social-media i {
        font-size: 30px;
    }
}
a{
    color:inherit;
    text-decoration: none;
}
@media (max-width: 768px) {
    .contact_us_green .contact-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact_us_green .contact-info {
        border-left: none;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .contact_us_green .form-group input,
    .contact_us_green .form-group textarea {
        width: 100%;
    }
}
.contact_us_green .form-group input {
    width: 90%;
    height: 45px;
    max-width: 400px; /* Adjusted width to fit better */
    padding: 15px; /* Reduced padding */
    border: 2px solid #a2a2a2;
    border-radius: 5px;
    font-size: 14px; /* Reduced font size */
}
.contact_us_green .form-group textarea{
    width:95%;
}
@media (max-width: 500px) {
    .contact_us_green .contact-info h2 {
        font-size: 26px;
    }

    .contact_us_green .contact-info p {
        font-size: 16px;
        line-height: 23px;
    }

    .contact_us_green .form-group label {
        font-size: 16px;
    }

    .contact_us_green .form-group input {
        height: 45px;
    }
}
