/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
}

.faq-container {
    max-width: 800px;
    margin: 120px auto;;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.faq-item p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius:10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #555;
}

@media screen and (max-width: 600px) {
    .faq-container {
        padding: 15px;
    }

    .contact-button {
        width: 100%;
        text-align: center;
    }
}
