.ticket-container2 {
    background-color: #f0f4f8;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    padding-top: 80px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* Translucent white background */
    z-index: 9999;
}

#loader {
    width: 100px;
    height: 100px;
}
.hidden {
    display: none !important;
}
.ticket-container {
    max-width: 800px;
    margin: 0 auto;
    
}
.ticket-container > div {
    display: none; /* Hide all ticket sections by default */
}

.ticket-container > .active {
    display: block; /* Show the active section */
}

.ticket-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.ticket-info {
    display: flex;
    flex-direction: column;
    color: #555;
}

.ticket-type {
    font-size: 14px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 5px;
}

.train-number, .bus-number, .flight-number {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.train-name, .bus-name, .flight-name {
    font-size: 16px;
    margin-top: 5px;
}

.route {
    font-size: 14px;
    margin-top: 2px;
    color: #777;
}

.timing, .duration {
    font-size: 14px;
    margin-top: 5px;
}

.ticket-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    font-size: 18px;
    color: green;
    margin-bottom: 10px;
}

.view-button {
    background-color: #1d4ed8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.view-button:hover {
    background-color: #1e3a8a;
}
.form-selection-buttons {
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 20px;
}

.form-selection-buttons-wrapper {
    
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.transport-button {
    backface-visibility: hidden;
    
    background-color: transparent;
    border-radius: .375rem;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 1rem 1.25rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s, background-color .2s, color .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: none;
}

.transport-button:disabled {
    color: #787878;
    cursor: auto;
}

.transport-button:not(:disabled):hover {
    transform: scale(1.05);
}

.transport-button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.transport-button:focus {
    outline: 0 solid transparent;
}

.transport-button:focus:before {
    
    content: "";
    left: calc(-1 * .375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1 * .375rem);
    transition: border-radius;
    user-select: none;
}

.transport-button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.transport-button:not(:disabled):active {
    transform: translateY(.125rem);
}

.clicked {
    background-color: black;
    color: white;
}



  .ticket-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ticket {

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
    margin-bottom: 20px;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ticket-number {
    font-size: 18px;
    font-weight: bold;
}

.ticket-class {
    font-size: 16px;
    font-style: italic;
}

.ticket-details {
    margin-bottom: 15px;
}

.ticket-route {
    font-size: 16px;
    margin-bottom: 10px;
}

.ticket-time div {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.ticket-price {
    font-size: 18px;
    color: green;
    margin-bottom: 15px;
}

.ticket-passengers h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.ticket-passengers ul {
    list-style: none;
    padding: 0;
}

.ticket-passengers li {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
